.table-view .column-header .label {
    -fx-text-fill: ghostwhite;
}

/* Borde horizontal en la cabecera */
.table-view .column-header-background {
    -fx-border-color: wheat;
    border-color: wheat;
    -fx-border-width: 1px 0px 1px 0px;
    border-width: 1px 0px 1px 0px;

}

.table-view .column-header {
    -fx-border-color: wheat; 
    border-color: wheat;
    -fx-border-width: 1px 1px 1px 1px; 
    border-width: 1px 1px 1px 1px;
}


.table-view .table-row-cell {
    -fx-border-color: wheat;
    border-color: wheat;
    -fx-border-width: 0px 0px 1px 0px;
    border-width: 0px 0px 1px 0px;

}